* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
}
.logo:hover {
  text-decoration: none;
}
.logo__web {
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  line-height: 1.2;
  font-weight: 700;
}
.logo__studio {
  font-size: 26px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}
.stu {
  font-size: 26px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
.link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pageHeader__item--agency,
.pageHeader__item--portfolio {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
}

.pageHeader__item--agency:hover,
.pageHeader__item--agency:focus,
.pageHeader__item--portfolio:hover,
.pageHeader__item--portfolio:focus {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pageHeader__item--contacts {
  margin-right: 46px;
}
.pageHeader__item--agency:hover:active::after,
.pageHeader__item--agency:focus:active::after {
  display: flex;
  justify-content: center;
  content: "";
  width: 53px;
  height: 4px;
  border-radius: 2px;
  background-size: contain;
  background-color: #2196f3;
  margin-top: 24px;
  position: absolute;
}
.pageHeader__item--portfolio:hover:active::after,
.pageHeader__item--portfolio:focus:active::after {
  display: flex;
  justify-content: center;
  content: "";
  width: 58px;
  height: 4px;
  border-radius: 2px;
  background-size: contain;
  background-color: #2196f3;
  margin-top: 24px;
  position: absolute;
}
.pageHeader__item--portfolio:hover::after,
.link--portfolio:hover::after {
  display: flex;
  color: #2196f3;
}
.pageHeader__mailto {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  color: #757575;
  align-items: center;
  margin-right: 10px;
  fill: #757575;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pageHeader__tel1 {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.1;
  color: #757575;
  align-items: center;
  fill: #757575;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pageHeader__mailto:hover,
.pageHeader__mailto:focus,
.pageHeader__tel1:hover,
.link:hover,
.pageHeader__tel1:focus,
.link:focus {
  color: #2196f3;
  fill: #2196f3;
}
.pageHeader__mailto--envelope {
  margin-right: 10px;
}
.pageHeader__tel1--smartphone {
  margin-left: 30px;
  margin-right: 10px;
}
a {
  text-decoration: none;
}
.footer a:hover,
.footer a:focus {
  color: #2196f3;
}
ul {
  list-style-type: none;
  line-height: 1.5;
}
.button {
  width: 200px;
  letter-spacing: 0.03em;
  line-height: 1.9;
  font-size: 16px;
  font-weight: 700;
  background-color: #2196f3;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.loremIpsum__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #212121;
}
.loremIpsum__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
}
.sectionWhatWeDo {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatWeDo {
  gap: 30px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.whatWeDo__pictures {
  position: relative;
  display: inline-flex;
}
.whatWeDo__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  height: 70px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionOurTeam {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.backgroundColor {
  background-color: #f5f4fa;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}
.ourTeam__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}
.ourTeam__workplace {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
  background: #2f303a;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  grid-template-rows: 9px;
  padding-top: 20px;
}
.address a {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.emailWebmaster {
  padding-top: 9px;
  padding-bottom: 9px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tel {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*Portfolio*/
.buttonsPortfolio__buttonP {
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  text-decoration-color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  margin-left: 8px;
  margin-bottom: 50px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttonsPortfolio__buttonP:hover,
.buttonsPortfolio__buttonP:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttonsPortfolio {
  display: flex;
  justify-content: center;
}
.buttonsPortfolio__buttonsP {
  padding-bottom: 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  align-self: center;
  align-items: center;
}
.pageHeader__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 25px;
  display: flex;
  justify-content: space-between;
}
.containerPrimaryBox {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  align-self: center;
  align-items: center;
}
.primaryBox {
  max-width: 1600px;
  background-image: url(../images/17.jpg);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/17.jpg);

  align-items: center;
  align-self: center;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
}
.loremIpsum {
  display: flex;
  align-self: center;
  gap: 30px;
  margin-top: 94px;
  padding: 0;
}
.ourTeam__pictures {
  display: flex;
  padding: 0;
  flex-basis: calc((100% - 20px) / 4);
  gap: 30px;
}
.ourTeam__pictures--picture {
  padding: 0;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*-------------------------*/

.pageHeader {
  border-bottom: 1px solid #ececec;
}
.pageHeader__nav {
  display: flex;
  max-width: 492px;
  align-items: center;
}
.pageHeader__navList {
  width: 254px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.pageHeader__contact {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
}
img {
  display: flex;
}
.description2 {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.description2__signature {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.description2__signatureP {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.post {
  max-width: 600px;
  padding: 20px;
  border-radius: 4px;
  line-height: 1.5;
  font-family: sans-serif;
  background-color: #fff;
  box-shadow: 0 2.8px 2.2px red, 0 6.7px 5.3px blue, 0 12.5px 10px green,
    0 22.3px 17.9px purple, 0 41.8px 33.4px orange, 0 100px 80px teal;
}
.post-title {
  margin-top: 0;
}
.post-text {
  margin-bottom: 0;
}

/*<----------------------------------------------->*/
.loremIpsum__picture {
  background: #f5f4fa;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.ourCustomers {
  padding-bottom: 50px;
  padding-left: 0;
}
.customersBox {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.ourCustomers:nth-last-child() {
  margin-right: 0;
}
.customersBox__Border {
  display: flex;
}
.customers {
  fill: rgba(175, 177, 184, 1);
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customersBox__Border:hover svg,
.customersBox__Border:focus svg {
  fill: #2196f3;
  border-color: #2196f3;
}
.sosialMedia {
  /* padding-top: 20px; */
  display: flex;
  gap: 10px;
  padding-left: 0;
  border-radius: 50%;
}
.sosialMedia__border {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sosialMedia__border:hover,
.sosialMedia__border:focus {
  background-color: #2196f3;
}
.sosialMedia__border:hover svg,
.sosialMedia__border:focus svg {
  fill: #eeeeee;
}
.media {
  height: 44px;
  width: 44px;
  fill: #afb1b8;
  padding: 12px;
}
.sosialMedia__icons {
  fill: #ffffff;
  height: 44px;
  width: 44px;
  padding: 12px;
}
h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.joinUs {
  margin-top: 10px;
  margin-left: 70px;
}
.joinUsProperties {
  color: white;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  display: flex;
}

.footerFlex {
  display: flex;
  flex-wrap: wrap;
}
.picturesPortfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.picturesPortfolio__item2 {
  /*  Set the width of the elements*/
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.picturesPortfolio__item2 {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.picturesPortfolio__img-set2:hover,
.picturesPortfolio__img-set2:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.picturesPortfolio__img-set2:hover .cardDescription2 {
  transform: translateY(0);
}
.cardDescription2 {
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 24px;
  padding-right: 45px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  transform: translateY(100%);
  /*transition: 0.3 ease-in;*/
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
  transform: translate (50%, 50%), scale(1);
  transition: transform 250ms ease-in;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  background-color: #ffffff;
  padding: 10px;
  transform: translate (-50%, -50%), scale(1);
  transition: transform 250ms ease-in;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;

  justify-content: right;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
}
.button-close {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #0000001a;
  background-color: #fff;
  padding: 6px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.button-close:hover,
.button-close:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.is-hidden .modal {
  transform: scale(0);
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 78px;
  margin-top: 10;
  margin-bottom: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
}
.newsletter button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px 10px 42px;
}
.newsletter form {
  display: flex;
  justify-content: stretch;
  column-gap: 12px;
  max-height: 50px;
}

.newsletter input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  outline: 0;
  padding: 15px 0 15px 16px;
  font-size: 16px;
  color: #fff;
  line-height: 1.25;
  width: 358px;
}

.newsletter input:hover,
.newsletter input:focus {
  border-color: #2196f3;
}

.newsletter p {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.newsletter svg {
  margin-left: 24px;
  fill: #eeeeee;
}

.overlay {
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.03em;
  line-height: 1.5;
  position: absolute;
  top: 0;
  left: 0;
  padding: 49px 45px 49px 24px;
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.form-header-margin {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.form-header {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* margin-bottom: 10px; */
  padding: 11px 0 11px 42px;
  outline: 0;
  position: relative;
}
.icon-name {
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50px;
  top: 123px;
}
.icon-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 66px;
  top: 188px;
}
.icon-mail {
  position: absolute;
  left: 66px;
  top: 253px;
}
.form-input:hover,
.form-input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.form-input:hover + svg,
.form-input:focus + svg {
  fill: #2196f3;
}
.form-list {
  display: flex;
  flex-direction: column;
  height: 466px;
}
.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  outline: none;
}
.form-list svg {
  display: block;
  fill: #212121;
  outline: 0;
}
.form-button {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 76px;
  margin: 30px auto 0;
}
.form-button:hover,
.form-button:focus {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.comment {
  width: 448px;
  height: 120px;
}
.comment:hover,
.comment:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.checkbox {
  margin-top: 25px;
}
.regulamin,
.politykęPrywatności {
  color: #2196f3;
  text-decoration: underline;
}
.signUp:hover,
.signUp:focus {
  cursor: pointer;
}
