.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  &--flex {
    display: flex;
    flex-wrap: wrap;
  }
  & a:hover,
  & a:focus {
    color: $brand-blue;
  }
  // .container {
  //   max-width: 1200px;
  //   margin: 0 auto;
  //   padding: 0 15px;
  //   align-self: center;
  //   align-items: center;
  // }
  &__logoWeb {
    font-size: 26px;
    letter-spacing: 0.03em;
    color: $brand-blue;
    line-height: 1.2;
    font-weight: 700;
  }
  &__stu {
    font-size: 26px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.2;
    color: $just-white;
  }
  &__address {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0.03em;
    color: $just-white;
    display: flex;
    flex-direction: column;
    grid-template-rows: 9px;
    padding-top: 20px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $brand-grey;
  }
  &__emailWebmaster {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $brand-grey;
    padding-top: 9px;
    padding-bottom: 9px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__tel {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.1;
    color: $brand-grey;
    align-items: center;
    fill: $brand-grey;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__emailWebmaster:hover,
  &__emailWebmaster:focus,
  &__tel:hover,
  &__tel:focus {
    color: $brand-blue;
    fill: $brand-blue;
  }
  &__joinUs {
    margin-top: 10px;
    margin-left: 70px;
  }
  &__joinUsProperties {
    color: $just-white;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    display: flex;
  }
  &__sosialMedia {
    /* padding-top: 20px; */
    display: flex;
    gap: 10px;
    padding-left: 0;
    border-radius: 50%;
  }
  &__sosialMediaBorder {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    fill: var(--brand-lightgrey);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__sosialMediaBorder:hover,
  &__sosialMediaborder:focus {
    background-color: $brand-blue;
  }
  &__sosialMediaBorder:hover svg,
  &__sosialMediaBorder:focus svg {
    fill: $just-white;
  }
  .sosialMedia__icons {
    fill: $just-white;
    height: 44px;
    width: 44px;
    padding: 12px;
    // background-color: aqua;
  }
  &__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 78px;
    margin-top: 10;
    margin-bottom: 55px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
  }
  &__newsletter button {
    background: $brand-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: $just-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 28px 10px 42px;
  }
  &__newsletter form {
    display: flex;
    justify-content: stretch;
    column-gap: 12px;
    max-height: 50px;
  }

  &__newsletter input {
    border: 1px solid $brand-grey;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $brand-background-dark;
    outline: 0;
    padding: 15px 0 15px 16px;
    font-size: 16px;
    color: $just-white;
    line-height: 1.25;
    width: 358px;
  }

  &__newsletter input:hover,
  &__newsletter input:focus {
    border-color: $brand-blue;
  }

  &__newsletter p {
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $just-white;
    margin-bottom: 20px;
  }
  &__newsletter svg {
    margin-left: 24px;
    fill: $just-white;
  }
  &__signUp:hover,
  &__signUp:focus {
    cursor: pointer;
  }
  &__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $just-white;
  }
}
