.footer-background {
  background-color: rgb(47, 48, 58);
}
.page-wrapper--footer {
  max-width: 1600px;
  margin: 0 auto;
  padding: 60px 215px;
}

.footer {
  display: flex;
  gap: 70px;
  margin: 0;
  &__contacts {
    width: 246px;
    margin: 0;
    padding: 0;
  }

  &__contacts .logo {
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.71;
    color: rgb(255, 255, 255);
    letter-spacing: 0.03em;
    text-decoration: none;
    max-height: 81px;
    margin: 0;
    padding: 0;
  }

  &__address--contact {
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    text-decoration: none;
    max-height: 81px;
    margin: 0;
    padding: 0;
  }

  &__social {
    width: 206px;
    margin-top: 12px;
    margin-bottom: 40px;
  }

  &__header {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgb(255, 255, 255);
  }

  &__newsletter {
    width: 570px;
    margin-top: 12px;
    margin-left: 7px;
  }

  &__newsletter .footer__header {
    margin-bottom: 20px;
  }

  &__address:hover,
  &__address:focus,
  &__address--contact:hover,
  &__address--contact:focus {
    color: $brand-blue;
  }
}

.newsletter {
  display: flex;
  &__button {
    width: 200px;
    height: 50px;
    background: $brand-blue;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    letter-spacing: 0.06em;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
  }

  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: 0;
    border-radius: 4px;
    background-color: rgb(47, 48, 58);
    margin-right: 12px;
    padding: 15px 16px;
    color: rgb(255, 255, 255);
  }

  &__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgb(255, 255, 255);
  }

  &__button--color {
    fill: white;
  }

  &__button:hover .newsletter__button--color {
    fill: $brand-black;
  }

  &__button:focus,
  &__button:hover {
    transition: 250ms;
    background-color: rgb(245, 244, 250);
    color: $brand-black;
    cursor: pointer;
  }

  &__input:focus,
  &__input:hover {
    border-color: $brand-blue;
  }
}
