.logo {
  font-family: Raleway;
  font-size: 1.625rem;
  color: rgb(0, 0, 0);
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-web {
  color: $brand-blue;
}

.logo-studio {
  color: rgb(255, 255, 255);
}
