.loremIpsum {
  display: flex;
  align-self: center;
  gap: 30px;
  margin-top: 94px;
  padding: 0;
  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: $brand-black;
  }
  &__description {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $brand-grey;
    padding-top: 10px;
  }
  &__picture {
    background: $brand-grey-white;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
    padding-bottom: 25px;
    padding-top: 25px;
  }
}
