.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: scale(1);
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1), opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  width: 528px;
  height: 581px;
  position: relative;
  cursor: initial;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &__close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    color: black;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__close:hover {
    cursor: pointer;
    background-color: lightgrey;
  }

  &__form {
    padding: 12px 40px 40px 40px;
  }
  &__form--spacing {
    margin-bottom: 10px;
  }

  &__label {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    letter-spacing: 0.01em;
    color: $brand-grey;
    margin-bottom: 4px;
  }

  &__wrapper {
    display: flex;
    position: relative;
  }

  &__input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    width: 100%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  }

  &__input:hover,
  &__input:focus {
    transition: 250ms;
  }

  &__textarea::placeholder {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    margin: 0;
  }

  &__textarea {
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    overflow: auto;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    width: 100%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  }

  &__submit-button {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: rgb(255, 255, 255);
    border: none;
  }

  &__submit {
    display: flex;
    justify-content: center;
  }

  &__submit-button:hover,
  &__submit-button:focus {
    background-color: rgb(245, 244, 250);
    color: $brand-black;
    cursor: pointer;
  }

  &-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.44rem;
    letter-spacing: 0.03em;
    margin: 40px 0 12px 0;
  }

  &__input:hover,
  &__input:focus,
  &__textarea:hover,
  &__textarea:focus,
  &__input:focus + .modal-icons,
  &__input:hover + .modal-icons {
    border-color: $brand-blue;
    transition: 250ms;
    fill: $brand-blue;
  }
}

.modal-icons {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}

.checkbox-icon {
  position: absolute;
  left: 18px;
  transform: translateX(50%);
  transform: scale(0);
  transition: 200ms;
}

.modal-checkbox {
  position: relative;
  gap: 8px;
  margin-bottom: 30px;
  &__label {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__links {
    text-decoration: underline;
    color: $brand-blue;
  }

  &__label input {
    appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 7px;
  }

  &__label input:checked {
    border-color: rgb(255, 255, 255);
  }

  &__label:has(input:checked) .checkbox-icon {
    transform: scale(1);
  }
}
