.navigation-background {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__wrapper {
    justify-items: center;
    display: flex;
    align-items: center;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 261px;
  }

  &__contacts {
    justify-items: center;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__item {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.17;
    color: $brand-black;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  &__item--contact {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $brand-grey;
  }

  &__icon-contact {
    fill: $brand-grey;
  }
  &__item:hover,
  &__item:focus,
  &__item--contact:hover,
  &__item--contact:focus,
  &__wrapper:hover .navigation__icon-contact,
  &__wrapper:focus .navigation__icon-contact,
  &__wrapper:hover .navigation__item--contact,
  &__wrapper:focus .navigation__item--contact {
    color: $brand-blue;
    transition: 250ms;
    fill: $brand-blue;
  }
  &__icon-contact:hover,
  &__icon-contact:focus {
    transition: 250ms;
  }
}

.navigation-position {
  position: relative;

  &:hover::after,
  &:focus::after {
    content: "";
    height: 4px;
    width: 53px;
    background-color: $brand-blue;
    position: absolute;
    border-radius: 2px;
    left: 0;
    top: 45px;
  }
}
