.ourCustomers {
  padding-bottom: 50px;
  padding-left: 0;
  &__box {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }
  &__border {
    display: flex;
  }
  &__picture {
    fill: rgba(175, 177, 184, 1);
    width: 170px;
    height: 92px;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__border:hover svg,
  &__border:focus svg {
    fill: #2196f3;
    border-color: #2196f3;
  }
}
/* .ourCustomers:nth-last-child() {
    margin-right: 0;
  } */
