.pageHeader {
  border-bottom: 1px solid $brand-grey-white;
}
.pageHeader__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 25px;
  display: flex;
  justify-content: space-between;
}
