.picturesPortfolio {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  &__item {
    /*  Set the width of the elements*/
    flex-basis: calc((100% - 3 * 30px) / 3);
  }

  &__item {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  &__img-set:hover,
  &__img-set:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__img-set:hover &__text {
    transform: translateY(0);
  }
  &__text {
    padding-top: 49px;
    padding-bottom: 49px;
    padding-left: 24px;
    padding-right: 45px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: $brand-blue;
    color: $just-white;
    transform: translateY(100%);
    /*transition: 0.3 ease-in;*/
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: left;
    transform: translate (50%, 50%), scale(1);
    transition: transform 250ms ease-in;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__description {
    padding: 20px 24px 20px 24px;
    border-left: 1px solid $just-white;
    border-right: 1px solid $just-white;
    border-bottom: 1px solid $just-white;
  }
  &__signature {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $brand-black;
    margin-bottom: 4px;
  }
  &__signatureP {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $brand-grey;
    margin-top: 10px;
  }
}
