.team-background {
  background-color: rgb(245, 244, 250);
  width: 100%;
  padding: 94px 0 94px 0;
}

.team {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  width: 100%;

  &__img {
    padding: 0 0 30px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__person {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    text-align: center;
    display: block;
    color: $brand-black;
    margin: 30px 0 10px 0;
    padding: 0;
  }

  &__position {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: $brand-grey;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
