* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  line-height: 1.5;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}
.h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}
img {
  display: flex;
}
h4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel {
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  align-self: center;
  align-items: center;
}
.vector1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 1px;
  color: #ececec;
}
section {
  padding-top: 50px;
  padding-bottom: 94px;
}
.containerPrimaryBox {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  align-self: center;
  align-items: center;
}
.WhatWeDo__text {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
