// tutaj maja byc zmienne
// np. font albo jakies rozmiary i kolory
$brand-blue: rgb(33, 150, 243);
$brand-black: rgb(33, 33, 33, 1);
$brand-grey: rgb(117, 117, 117);
$brand-background-dark: rgba(47, 48, 58, 1);
$just-black: rgb(0, 0, 0);
$just-white: rgb(255, 255, 255);
$brand-lightgrey: rgba (255, 255, 255, 0.1);
$brand-grey-white: rgba(245, 244, 250, 1);
$brand-backdrop: rgba(0, 0, 0, 0.2);
