$mainColor: #212121;
$hoverColor: #2196f3;
$backgroundColor: #fff;
$footerBackground: #2f303a;
$footerLinkColor: rgba(255, 255, 255, 0.6);
$headerLinkColor: #757575;
$teamBackground: #f5f4fa;
$iconsColor: #afb1b8;
$projectsBoxColor: #eee;
